<%= nav_dashboard current_user.rol %>


<div class="container">
    <div class="grid-form_titles">
        <h1>Registrar votante</h1>
        <div>
           <%= link_to 'Regresar', voters_path %>
        </div>
    </div>
    <%= render 'form', voter: @voter %>
</div>

