<%= nav_dashboard current_user.rol %>
<div class="container">
    <div class="grid-form_titles">
        <h1>Crear campaña</h1>
        <div>
           <%= link_to 'Regresar', campaigns_path %>
        </div>
    </div>
    <%= render 'form', campaign: @campaign %>
</div>
