/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{background-color: #F8F8FF !important;}

.row-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.grid-form_titles{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    position: relative;
    padding-bottom: 2rem;
}

.grid-form_titles div{
    justify-self: end;
    align-self: center;
    position: absolute;
    bottom: 0;
    right: 0;
}
.easy-autocomplete{
    width: 100% !important;
}

.grid-campaing{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid-campaing-containg span{
    font-size: 3rem;
}

.grid-campaing-containg p{
    font-size: 2rem;
}

.grid-campaing-containg-img{
    display: grid;
    padding: 2rem;
}

.grid-campaing-containg-img img{
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
}

.grid-campaing-containg-info{
    display: grid;
    padding: 2rem;
}

.grid-campaing-containg{

}

.grid-campaing-people{

}


.grid-campaing-liders{
    font-size: 1.5rem;
}

.grid-campaing-voters{

}

.campaing-voter{
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 2fr .5fr;
}

.campaing-btn{
    padding: 0 2rem;
}
@media (max-width: 600px) {
    .grid-campaing{
        grid-template-columns: 1fr;
    }
    .row-grid{
        grid-template-columns: 1fr;
    }
}